/* Overall */
* {
    color: white;
}

body {
    background-color: #26263B;
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
}

p {
    font-weight: lighter;
}

body::-webkit-scrollbar {
    display: none;
}

.fa-solid {
    width: 1vw;
    margin: 1vh 1vw;
}


/* ----- HEADER ----- */
header {
    background-color: #181B23; /* Header background color */
    height: 16vh;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 2s ease-in; /* Add smooth transition effect */
    z-index: 100; /* Make sure the header is on top of other content */
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 2rem;
}

.header-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.header .header-content {
    transition: left 0.25s;
}

.header.scrolled .header-content {
    left: 15%;
}

#responsive-disclaimer {
    display: none;
}

.header-nav {
    transition: transform 0.25s, opacity 0.15s; /* Add a smooth transition effect for transform property */
    font-size: 1rem;
    height: 100%;
    margin-left: 40vw;
    display: inline-block;
}

.header-nav.invisible {
    opacity: 0;
}

.header.scrolled .header-nav {
    opacity: 1;
}

.header-nav li {
    margin: 0 10px;
}

/* ----- NAVIGATION BAR ----- */
.navigation {
    background-color: #232733; /* Navigation menu background color */
    height: 6vh; /* Adjust this height as needed */
    position: fixed;
    width: 100%;
    transition: top 0.25s; /* Add smooth transition effect */
    border-bottom: 1px solid black;
    font-size: 1rem;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navigation ul, .header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navigation li {
    margin: 0 20px;
}

.header a, .navigation a, .header-nav a {
    text-decoration: none;
}

.header.scrolled .navigation {
    box-shadow: none;
    top: 0;
    transition: top 0.5s;
}

.header a:hover, .navigation a:hover, .header-nav a:hover {
    text-decoration: underline;
}

/* ----- MAIN WRAPPER ----- */
.wrapper {
    margin-top: 16vh;
}

/* ----- VIDEO CONTAINER / ABOUT SECTION ----- */
.video-container {
    position: relative;
    width: 100%;
    height: 110vh;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #d5d5d5;
}

.about-desc {
    padding: 2vh 2vw;
    background-color: rgba(0, 0, 0, 0.75);
}

.about-desc strong {
    color: #ffffff;
}

img {
    max-width: 50%;
    height: auto;
}

.external-links {
    box-sizing: border-box;
    margin-top: 20px;
}

.external-link {
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    padding: 1vh 1vw;
    transition: background-color 0.25s;
    transition: color 0.25s;
    width: 30%;
    margin: 0 1vw;
}

.fa-soundcloud, .fa-github {
    transition: background-color 0.25s;
    transition: color 0.25s;
}

.external-link:hover, .external-link:hover .fa-soundcloud, .external-link:hover .fa-github {
    background-color: white;
    color: black;
}

/* ----- SKILLS SECTION ----- */
#skills {
    background-color: #26263B;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 8vh 0;
}

.skills-section {
    margin: 0 7.5vw;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skill-box {
    padding: 2rem;
}

.skill-box h2 {
    margin-top: 5rem;
}

/* ----- SLIDESHOW SECTION ----- */
.slideshow-container, .inner-slideshow-container {
    overflow: hidden;
    width: 99.85%;
}

.slides, .inner-slides {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap; /* Prevent slides from wrapping to the next row */
    transition: transform 0.5s ease-in-out;
}

.slideshow-nav, .inner-slideshow-nav {
    padding: 8vh;
    background-color: #262133;
    text-align: center;
}

.slideshow-btn, .inner-slideshow-btn {
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    padding: 1vh 1vw;
    background-color: #333;
    color: #fff;
    margin: 0 10px;
    width: 15vw;
}

.slideshow-btn.selected, .inner-slideshow-btn.selected {
    color: black;
    background-color: #F7EBFF;
}

.slideshow-btn:hover, .inner-slideshow-btn:hover {
    background-color: #555;
}

.slide, .inner-slide {
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: flex-start;
    padding: 1vh 7.5vw;
    justify-content: center;
}

.code-flex, .writing-flex {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

/* ----- PROJECTS SECTION ----- */
#projects {
    background-color: #262133;
    position: relative;
    width: 99.85%;
    text-align: center;
    height: auto;
}

#projects h1 {
    margin-top: 2vh;
}

.project-box, .project-box-inactive {
    margin: 2vh auto;
    padding: 1rem;
}

.project-box {
    box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.15);
    transition: transform 0.25s;
}

.project-box:hover {
    transform: scale(1.1);
}

.project-box img {
    min-width: 100%;
    max-height: 50%;;
    overflow: hidden;
}

.project-labels {
    display: inline-block;
    margin-top: 1vh;
    font-size: 0.75rem;
    width: 100%;
    text-align: left;
}

.project-labels label {
    display: inline-block;
    width: auto;
    padding: 0.25rem;
    text-align: center;
    margin: 0 0.25rem;
    border-radius: 5px;
}

.csharp-label {
    background-color: #534D61;
}

.unity-label {
    background-color: #F7EBFF;
    color: black;
}

.audio-label {
    background-color: #354059;
}

.html-label {
    background-color: #613B57;
}

.css-label {
    background-color: #1D3F37;
}

.javascript-label {
    background-color: #312B3E;
}

.monogame-label {
    background-color: #00A987;
    color: black;
}

/* ----- MUSIC SECTION ----- */
.sound-effect-section {
    width: 100%;
    margin-bottom: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sound-design-btn {
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    padding: 1vh 1vw;
    background-color: black;
    border: 2px solid white;
    color: #fff;
    margin: 0 auto;
    width: 15vw;
    transition: background-color 0.25s, color 0.25s;
    font-size: 80%;
}

.sound-design-btn:hover {
    color: black;
    background-color: #F7EBFF;
}

.tracklist-container {
    width: 100%;
    margin: 2vh auto;
    flex-direction: column;
}

.track {
    flex: 0 0 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 4vh;
    box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.25);
}

.track-header {
    box-sizing: border-box;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    width: 100%;
    background-color: black;
    padding: 0.5vh 3vw;
}

.track-controls {
    box-sizing: border-box;
    padding: 1vh 3vw;
    display: flex;
    justify-content: right;
    align-items: center;
}

.track-audio {
    width: 100%;
}

.play-button, .progress-bar, .track-duration, .volume-container {
    margin: auto 1vw;
}

.play-button {
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
}

.progress {
    height: 100%;
    background-color: #354059;
    position: absolute;
}

.drag-handle {
    width: 10px;
    height: 10px;
    background-color: #354059;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    left: calc(100% - 10px); /* Center the handle at the right edge */
    transform: translate(-50%, -25%); /* Center horizontally */
}

.volume-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.volume-slider {
    display: inline-block;
    transition: opacity 0.25s, max-width 0.25s;
    opacity: 0;
    margin-left: 2vw;
}

.volume-slider.hidden {
    opacity: 0;
    max-width: 0;
}

.volume-slider.visible {
    opacity: 1;
    max-width: 16vw;
}


input[type=range].volume-slider {
    -webkit-appearance: none;
    background: transparent;
  }
  
input[type=range].volume-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 1em + var(--ratio) * (100% - 1em));
}
  
input[type=range].volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: #613B57;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: calc(0.5em * 0.5 - 1em * 0.5);
}
  
input[type=range].volume-slider::-webkit-slider-runnable-track {
    height: 0.5em;
    border: none;
    border-radius: 1em;
    background: #efefef;
    box-shadow: none;
}
  
input[type=range].volume-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#613B57,#613B57) 0/var(--sx) 100% no-repeat, #efefef;
}
  
input[type=range].volume-slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: #613B57;
    border: none;
    box-shadow: 0 0 2px black;
}
  
input[type=range].volume-slider::-moz-range-track {
    height: 0.5em;
    border: none;
    border-radius: 1em;
    background: #efefef;
    box-shadow: none;
}
  
input[type=range].volume-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#613B57,#613B57) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].volume-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}
  
input[type=range].volume-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}
  
input[type=range].volume-slider::-ms-thumb {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background: #613B57;
    border: none;
    box-shadow: 0 0 2px black;
    margin-top: 0;
    box-sizing: border-box;
}
  
input[type=range].volume-slider::-ms-track {
    height: 0.5em;
    border-radius: 1em;
    background: #efefef;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}
  
input[type=range].volume-slider.slider-progress::-ms-fill-lower {
    height: 0.5em;
    border-radius: 1em 0 0 1em;
    margin: -undefined 0 -undefined -undefined;
    background: #613B57;
    border: none;
    border-right-width: 0;
}  

.volume-icon {
    display: inline-block;
    cursor: pointer;
}

#goodluckvalley-soundshowcase {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sound-design-frame {
    height: 60vh;
    width: 75%;
    margin: 5vh auto;
}

/* ----- WRITING SECTION ----- */
.writing-box, .writing-box-inactive {
    box-sizing: border-box;
    margin: 2vh auto;
}

.writing-box {
    transition: transform 0.25s;
}

.writing-box:hover {
    transform: scale(1.1);
}

.writing-box img {
    max-width: 100%;
    max-height: 100%;;
    overflow: hidden;
}

/* ----- PROJECT OVERLAY ----- */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1000;
    text-align: center;
}

.overlay-content {
    margin-top: 6rem;
    margin-bottom: 4rem;
    max-width: 100%;
    margin-left: 9vw;
    height: auto;
    text-align: center;
    overflow-y: auto;
}

.close-button {
    box-sizing: border-box;
    background-color: #26313B;
    border-radius: 50%;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    float: right;
    margin: 4vh 4vw;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.close-button:hover {
    background-color: #415566;
}

body.overlay-open {
    overflow: hidden;
}

.overlay-content h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.overlay-content-screenshot {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    border: 1px solid white;
}

.overlay-img {
    border: 1px solid white;
}

.overlay-content-cover {
    max-width: 30vw;
    border: 1px solid white;
}

.overlay-content-genre h3, p {
    display: inline;
    margin: 0 0.5rem;
}

.overlay-content-imgsrc label {
    font-size: 60%;
    font-weight: lighter;
}

.overlay-content div {
    max-width: 45%;
    margin: 1rem auto;
}

.overlay-content-achievements {
    margin-top: 500%;
}

.overlay-content-achievements ul {
    text-align: left;
    max-width: 75%;
    margin: 1rem auto;
    font-weight: lighter;
}

.overlay-content-achievements li {
    margin: 2px 0;
}

.overlay-source-btn {
    font-family: 'Lexend', sans-serif;
    margin: 2rem auto;
    display: block;
    font-size: 1.5vw;
    max-width: 20%;
    text-align: center;
    background-color: #181B23;
    padding: 1rem;
    border: 2px solid #F7EBFF;
    transition: background-color 0.25s linear;
}

.overlay-source-btn:hover {
    background-color: white;
    color: #181B23;
    border: 2px solid #181B23;
}

.overlay::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 320px) {
    .header-content {
        top: 46.5%;
        font-size: 50%;
    }

    .header.scrolled .header-content {
        left: 22.5%;
    }

    .header-nav {
        font-size: 30%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    #responsive-disclaimer {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        font-size: 10px;
        font-weight: lighter;
    }

    .navigation {
        font-size: 60%;
    }

    .header-content {
        font-size: 50%;
        top: 45%;
    }

    .header.scrolled .header-content {
        left: 18.5%;
    }

    .header-nav {
        font-size: 30%;
    }

    .header.scrolled .header-nav {
        transform: right 
    }

    .header-nav li {
        margin: 0 10px;
    }

    .video-container {
        height: 130vh;
    }

    .content {
        top: 50%;
        width: 80%;
        font-size: 85%;
    }

    .external-link {
        font-size: 70%;
    }

    .skills-section {
        flex-direction: column;
    }

    .slideshow-btn, .inner-slideshow-btn {
        font-size: 65%;
    }

    .code-flex {
        flex-direction: column;
    }

    .play-button, .progress-bar, .track-duration, .volume-container {
        margin: auto 2vw;
    }

    .volume-slider {
        margin-left: 3vw;
    }

    .overlay-source-btn {
        font-size: 1rem;
        max-width: 40%;
    }

    .overlay-content-genre h3, .overlay-content-date h3 {
        font-size: 90%;
    }

    .overlay-content-genre p {
        font-size: 80%;
    }

    .overlay-content-text, .overlay-content-achievements, .overlay-content-genre .overlay-content-date {
        font-size: 70%;
    }
}

/* ----- TABLET STYLING ----- */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    #responsive-disclaimer {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        font-size: 15px;
        font-weight: lighter;
    }

    .header.scrolled .header-content {
        left: 20%;
    }

    .header-nav {
        font-size: 60%;
    }

    .header-nav li {
        margin: 0 20px;
    }

    .content {
        top: 50%;
        width: 80%;
    }

    .skills-section {
        flex-direction: column;
    }

    .slideshow-btn, .inner-slideshow-btn {
        font-size: 65%;
    }

    .code-flex {
        flex-direction: column;
    }

    .play-button, .progress-bar, .track-duration, .volume-container {
        margin: auto 1vw;
    }

    .overlay-source-btn {
        font-size: 1rem;
        max-width: 40%;
    }

    .overlay-content-genre h3, .overlay-content-date h3 {
        font-size: 95%;
    }

    .overlay-content-genre p {
        font-size: 85%;
    }

    .overlay-content-text, .overlay-content-achievements, .overlay-content-genre .overlay-content-date {
        font-size: 75%;
    }
}

/* ----- DESKTOP STYLING ----- */
@media only screen and (min-width: 1024px) and (max-width: 1216px) {
    .header-nav {
        font-size: 70%;
    }

    .header-nav li {
        margin: 0 30px;
    }

    .content {
        top: 50%;
        width: 80%;
    }

    .skill-box {
        width: 33%;
    }

    .project-box, .project-box-inactive {
        flex: 0 0 20%;
        font-size: 0.8vw;
    }

    .project-box h2 {
        font-size: 1.1vw;
    }

    .project-box h3 {
        font-size: 0.9vw;
    }

    .project-labels {
        font-size: 0.8vw;
    }

    .project-labels label {
        margin: 0 0.05rem;
    }

    .writing-box, .writing-box-inactive {
        flex: 0 0 20%;
        font-size: 0.8vw;
    }

    .overlay-source-btn {
        font-size: 1.25rem;
        max-width: 30%;
    }

    .overlay-content-text, .overlay-content-achievements, .overlay-content-genre .overlay-content-date {
        font-size: 80%;
    }
}

/* ----- WIDESCREEN STYLING ----- */
@media only screen and (min-width: 1216px) and (max-width: 1408px) {
    .header-nav {
        font-size: 70%;
    }

    .header-nav li {
        margin: 0 50px;
    }

    .content {
        top: 52.5%;
        width: 80%;
    }

    .skill-box {
        width: 33%;
    }

    .project-box, .project-box-inactive {
        flex: 0 0 20%;
        font-size: 0.8vw;
    }

    .project-box h2 {
        font-size: 1.1vw;
    }

    .project-box h3 {
        font-size: 0.9vw;
    }

    .project-labels {
        font-size: 0.8vw;
    }

    .project-labels label {
        margin: 0 0.05rem;
    }

    .writing-box, .writing-box-inactive {
        flex: 0 0 20%;
        font-size: 0.8vw;
    }
}

/* ----- FULLSCREEN STYLING ----- */
@media only screen and (min-width: 1408px){
    .header-nav {
        font-size: 80%;
    }

    .header-nav li {
        margin: 0 50px;
    }

    .content {
        top: 52.5%;
        width: 70%;
    }

    .skill-box {
        width: 33%;
    }

    .project-box, .project-box-inactive {
        flex: 0 0 20%;
        font-size: 0.8vw;
    }

    .project-box h2 {
        font-size: 1.1vw;
    }

    .project-box h3 {
        font-size: 0.9vw;
    }

    .project-labels {
        font-size: 0.8vw;
    }

    .project-labels label {
        margin: 0 0.05rem;
    }

    .writing-box, .writing-box-inactive {
        flex: 0 0 20%;
        font-size: 0.8vw;
    }
}